.main-pad {
  padding-top: 120px;
  padding-bottom: 72px;
}

button {
  &.promote, &.demote{
    display: inline-block;
    padding: 7px 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.2px;
    border: none;
  }
  &.promote {
    background: $primary;
  }
  &.demote {
    background: $secondary;
  }
}

.arrange-items {
  .arrange-pic {
    .tic-text {
      &.admin {
        background: $primary
      }
      &.reviewer {
        background: $secondary
      }
    }
  }
}

.contact-form {
  button {
    &.reset {
      background-color: $secondary;
      border: none;
    }
  }
}
a {
  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
}
.review-item {
  border-bottom: thin solid $primary;
}





.filter-search {
  //display: inline-block;
  //width: calc(41% - 20px);

  .search-query-field {

    h5 {
      color: #fff;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 12px;
    }

    input[type=text] {
      width: calc(100% - 20px);
      font-size: 16px;
      color: #fff;
      background: transparent;
      height: 50px;
      line-height: 46px;
      border-radius: 0;
      padding-left: 31px;
      border: solid thin #fff;
    }

  }

}

//.filter-search .category-search .nice-select:after {
//  display: none;
//}
//
//.filter-search .category-search .nice-select .option {
//  padding-left: 30px;
//  padding-right: 29px;
//  padding-top: 8px;
//  padding-bottom: 8px;
//}
//
//.filter-search .category-search .nice-select .list {
//  background-color: #1D1D1D;
//  border-radius: 0;
//  margin-top: 1px;
//  width: 100%;
//}