.header-section {
  position: relative !important;
  background-color: $black;
}
.hero-listing {
  height: 300px;
}
.main-pad {
  padding-top: 120px;
  padding-bottom: 72px;
}

.business-image-slideshow {
  height: 100px;
  overflow: hidden;
  img {

  }
}

button {
  &.promote, &.demote{
    display: inline-block;
    padding: 7px 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.2px;
    border: none;
  }
  &.promote {
    background: $primary;
  }
  &.demote {
    background: $secondary;
  }
}

.arrange-items {
  .arrange-pic {
    .tic-text {
      &.admin {
        background: $primary
      }
      &.reviewer {
        background: $secondary
      }
    }
  }
}

.contact-form {
  button {
    &.reset {
      background-color: $secondary;
      border: none;
    }
  }
}
a {
  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
}
.review-item {
  border-bottom: thin solid $primary;
}





.filter-search {
  //display: inline-block;
  //width: calc(41% - 20px);

  .search-query-field {

    h5 {
      color: #fff;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 12px;
    }

    input[type=text] {
      width: calc(100% - 20px);
      font-size: 16px;
      color: #fff;
      background: transparent;
      height: 50px;
      line-height: 46px;
      border-radius: 0;
      padding-left: 31px;
      border: solid thin #fff;
    }

  }

}
.avatar {
  &.image {
    margin-left: 1em;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
    max-width: 50px;
    max-height: 50px;
    min-width: 25px;
    min-height: 25px;
    overflow: hidden;
    .monogram {
      text-align: center;
      font-size: 2em;
    }
    .image {
      text-align: center;
      width: 100px;
      height: auto;
    }
  }
}
 .avatar-preview {
    text-align: center;
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 300px;
  .image {
    width: 200%;
    height: auto;
  }
}
 .alert {
   float: right;
   color: white;
   span {
     &.fa {
       font-size: 1.5em;
       position: relative;
     }
     &.count-wrap {
       position: absolute;
       font-family: "Lato", sans-serif;
       //background-color: red;
       top: -.75em;
       right: -.75em;
       height: .75em;
       width: .75em;
       border-radius: 1.5em;
       text-align: center;
       .count {
         font-size: .5em;
       }
     }
   }
 }

 .promo-section {
   position: relative;
   &.promo-2, &.promo-3 {
     h2, p {
       color: white;
     }
   }
   .promo-label {
     position: absolute;
     top: 0;
     right: 0;
     background-color: $primary;
     padding: 1em;
     color: white;
     font-weight: bold;
   }
 }

 .arrange-pic {
   overflow: hidden;
   height: 250px;
 }

 section {
   &.promoted-hero-wrap {
     position: relative;
     .promoted-hero {
       position: absolute;
       bottom: 1em;
       padding: 1em;
       right: 2em;
       width: 50%;
       background-color: rgba(255, 255, 255, .5);
     }
     .promo-label {
       position: absolute;
       top: 0;
       right: 0;
       background-color: $primary;
       padding: 1em;
       color: white;
       font-weight: bold;
     }
   }
 }

 .reviews-item {
   border-bottom: solid 1px $primary;
 }